# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Virtual environment
venv/
env/

# IDEs
.vscode/
.idea/

# Secrets
.env

# Static files
/static/

# Media files
/media/

# Deployment
*.pid
